In [1]:
import pandas as pd
import re
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [2]:
df = pd.read_csv("tripadvisor_hotel_reviews.csv")
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
def cvt_rating(x):
    if x == 1 or x == 2:
        return 0
    elif x == 3:
        return 1
    else:
        return 2

In [4]:
df['Rating']= df['Rating'].apply(lambda x: cvt_rating(x))
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       2
1  ok nothing special charge diamond member hilto...       0
2  nice rooms not 4* experience hotel monaco seat...       1
3  unique, great stay, wonderful time hotel monac...       2
4  great stay great stay, went seahawk game aweso...       2

In [5]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [6]:
df['Review']= df['Review'].apply(lambda x: x.lower())
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       2
1  ok nothing special charge diamond member hilto...       0
2  nice rooms not 4* experience hotel monaco seat...       1
3  unique, great stay, wonderful time hotel monac...       2
4  great stay great stay, went seahawk game aweso...       2

In [7]:
df['Review']= df['Review'].apply(lambda x: re.sub("[^a-z]+"," ",x))
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       2
1  ok nothing special charge diamond member hilto...       0
2  nice rooms not experience hotel monaco seattle...       1
3  unique great stay wonderful time hotel monaco ...       2
4  great stay great stay went seahawk game awesom...       2

In [8]:
reviews = [s.split() for s in df['Review']]

In [9]:
len(reviews)

20491

In [10]:
stop_words = stopwords.words('english')
print(stop_words, len(stop_words))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"] 179

In [11]:
reviews_new = []
for review in reviews:
    review_new = []
    for w in review:
        if w not in stop_words:
            review_new.append(w)
    reviews_new.append(review_new)

In [12]:
ps = PorterStemmer()

In [14]:
reviews_stem = []
for review in reviews_new:
    review_stem = []
    for w in review:
        review_stem.append(ps.stem(w))
    reviews_stem.append(review_stem)

In [15]:
df['Review'] = [" ".join(s) for s in reviews_stem]
df.head()

                                              Review  Rating
0  nice hotel expens park got good deal stay hote...       2
1  ok noth special charg diamond member hilton de...       0
2  nice room experi hotel monaco seattl good hote...       1
3  uniqu great stay wonder time hotel monaco loca...       2
4  great stay great stay went seahawk game awesom...       2